.App {
  text-align: center;
  background-color: blanchedalmond;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
/*   background-color: blanchedalmond; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* reseteo margenes y padding predefinidos */
* {
  margin: 0;
  padding: 0;
}

/* Estilo Botonera Clase 4 Spinner*/
.botonera {
  width: 60px;
  text-align: center;
  font-size: 30px;
  /* letter-spacing: 10px; */
  /* border-color: transparent;
  background: none; */
}

.spinner{
  display: inline-flex;
  align-items: center;
  padding: 5px;
}

.card {
  margin: 45px 45px 45px 45px;
}  

.card-body {
  background: blanchedalmond;
}  

.card1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: max-available;
  margin: 45px;
  border: 1px solid #CE7D35;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #CE7D35; }

.textoTil {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}

.textoDesc {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}

.textoPrec {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

.btn-warning {
  margin: 10px;
}